.jumbotron {
    background-image: url("https://images5.alphacoders.com/403/thumb-1920-403408.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    margin-bottom: 0;
    color: #85144b;
}

.jumbotron h1 {
    margin-top: 170px;
    padding-top: 10px;
    background: black;
    margin-bottom: 0;
}

.jumbotron p {
    font-size: 25px;
    font-weight: 300;
    background: black;
}